.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
